{{- $dest := .Destination -}}
{{- $alt := .PlainText -}}
{{- $title := .Title -}}

{{- $ext := path.Ext $dest -}}
{{- $base := strings.TrimSuffix $ext $dest -}}

{{- $class := "" -}}
{{- if hasSuffix $base "-light" -}}
  {{- $class = "theme-image__light" -}}
{{- else if hasSuffix $base "-dark" -}}
  {{- $class = "theme-image__dark" -}}
{{- end -}}

{{- $loading := "lazy" -}}
{{- $fetchpriority := "" -}}
{{- if not (.Page.Store.Get "hasImage") -}}
  {{- .Page.Store.Set "hasImage" true -}}
  {{- $loading = "eager" -}}
  {{- $fetchpriority = "high" -}}
{{- end -}}

<img
  src="{{ $dest | safeURL }}"
  alt="{{ $alt }}"
  {{ with $title }}title="{{ . }}"{{ end }}
  {{ with $class }}class="{{ . }}"{{ end }}
  loading="{{ $loading }}"
  {{ with $fetchpriority }}fetchpriority="{{ . }}"{{ end }}
  {{ range $k, $v := .Attributes }}
    {{ if $v }}
      {{ printf "%s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr }}
    {{ end }}
  {{ end }}>
