<section class="newsletter-box">
  <div class="newsletter-header">
    <h3>Stay in the loop</h3>
    <p>{{ site.Params.description }}</p>
  </div>
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/amazingakai"
    method="post"
    class="embeddable-buttondown-form"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.com/amazingakai', 'popupwindow')"
  >
    <div class="newsletter-input-group">
      <input type="email" name="email" id="bd-email" placeholder="Enter your email" required />
      <input type="submit" value="Subscribe" />
    </div>
  </form>
</section>
